/* Імпорт шрифтів */
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
/* Кастомні властивості */
:root {
    /* Кольори */
    --color-white: #FFFFFF;
    --color-pure-red: #C93434;
    --color-light-gray: #F3F3F3;
    --color-darker-red: #9c2b2b;
    --color-dark-red: #872121;
    /* Шрифти */
    --font-family-h1: "Raleway";
    --font-family-h2: "Raleway";
    --font-size-h1: 40px;
    --font-size-p1: 18px;
    /* Розміри сайту */
    --width: 1440px;
    --width-header-menu: 1086px;
    --height-header-menu: 166px;
    --height-main: 737px;
    --height-sidebar: 737px;
    /* Відступи */
    /* Відступ зліва для заголовка */
    --margin-left-main: 200px;
    /* Поля для тексту */
    --padding-p1: 12px;
    --padding-p2: 15px;
    --padding-p3: 20px;
}
