/* General styles for sidebar */
.sidebar {
    position: fixed;
    left: -250px;
    top: 0;
    width: 190px;
    min-height: 100vh;
    background-color: #9c2b2b;
    padding-top: 20px;
}

.sidebar.open {
    left: 0;
}

.navbar-brand {
    text-align: center;
    padding: 15px !important;
}

.sidebar ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.sidebar ul li {
    padding: 20px;
    text-align: center;
}

.sidebar ul li a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
    display: block;
    transition: 0.3s;
}

.sidebar ul li a:hover {
    background-color: #872121;
    padding: 25px;
}

.menu-toggle {
    position: relative;
    top: 15px;
    left: 15px;
    background-color: #fff;
    color: rgb(0, 0, 0);
    border: none;
    font-size: 24px;
    padding: 10px 15px;
    cursor: pointer;
    border-radius: 5px;
    z-index: 1000;
}

@media (min-width: 768px) {
    .menu-toggle {
        display: none;
    }

    .sidebar {
        left: 0;
    }
}

@media (max-width: 768px){

    .sidebar{
        width: 110px;
        height: 100%;
    }
}