@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
@import url(base.css);

html {
    scroll-behavior: smooth;
}

body {
    background-image: url(images/vector-pastel-green-brown-abstract-textured-background_53876-110548.avif);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}

/* Heading */
.container-fluid{
    max-width: 100%;
    text-align: center;
    font-family: 'Raleway';
    margin: 30px 100px;
}

.container-fluid h1{
    color: #1f2b22;
    font-size: clamp(1.8rem, 10vw, 3rem);
    font-weight: 700;
}

.container-fluid p{
    color: rgb(80, 115, 74);
}

/* Task */
.container{
    width: 600px !important;
    text-align: center;
    font-family: 'Raleway';
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-bottom: 30px;
}

.container h2{
    color: #25332c;
    font-size: clamp(1.8rem, 10vw, 1.9rem);
    font-weight: 700;
}

.container h3{
    color: #25332c;
    font-size: clamp(1.6rem, 8vw, 1.2rem);
    font-weight: 700;
}

.task{
    background-color: #ffffff;
    padding: min(5em, 8%);
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.05);
    border-radius: 1em;
    transition: all 1s ease;
}

.task:hover{
    transform: scale(1.03);
}

.horizontal-line{
    width: 400px;
    height: 7px;
    background-color: rgb(131, 181, 120);
    border-radius: 30px;
}

/* Button */
.btn{
    border-radius: 100px !important;
    font-weight: 500 !important;
    transition: all 2s ease;
}

.btn:hover{
    background-color: transparent !important;
    border-width: 2px !important;
}

/* script done div */
.result{
    font-family: 'Raleway';
    font-weight: 500;
    background-color: rgb(229, 255, 214);
    padding: min(3em, 8%);
    border-radius: 1em;
}